<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="index.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="AccordionDemoCtrl">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>
  <h1 style="text-align:center">To to list</h1>
	  <div class="col-xs-12">
		<div class="col-xs-2"><h3>User:Tony</h3></div>
		<div class="col-xs-2"><h3><button type="button" class="btn btn-default btn-sm" ng-click="addNewTask()">New Task</button></h3></div>
	  </div>
		
	  <div class="col-xs-12">
	  

	

	
	  
	  <uib-accordion close-others="oneAtATime">
		
		<div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in todolist track by $index">
		  {{group.content}}
		  <button class="btn btn-success" ng-click = "updatetodo($index,true)">Finish</button>
		</div>
		
	  </uib-accordion>
	  </div>
  
</div>
  </body>
</html>
